@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes pulse {

    0%,
    100% {
        transform: scaleY(1);
        transform-origin: bottom;
    }

    50% {
        transform: scaleY(0.5);
        transform-origin: bottom;
    }
}